<html lang="en" class="page__html"><head>
		<meta charset="UTF-8">
		<title>Things Of Interest @ Things Of Interest</title>
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@qntm">
		<meta name="twitter:title" content="Things Of Interest">
		<meta name="twitter:description" content="
		Today in Things Of Interest...
		
			
					
						Fiction
						
					
				
					
						Code
						
					
				
					
						Time
						
					
				
					
						Blog
						
					
				
					
						Meta
						
					
				
		
	

Latest updates
2021-06-25: There are hardcover editi...">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/page/style.css">
		<link rel="shortcut icon" href="/page/favicon.png">

					<link rel="alternate" href="/rss.php" type="application/rss+xml" title="Things Of Interest RSS feed">
		 
	</head>
	<body class="page__body" dir="ltr">
		<div class="page__outer" style="background-color: rgb(46, 46, 46);">
			<div class="page__wrapper">
				<!-- <h1 class="page__h1">
					<a href="/">
						Things Of Interest					</a>
				</h1> -->

				<div class="page__breadcrumbs" dir="ltr">
					 
				</div>

				<h2 class="page__h2">
					Things Of Interest											<a href="/rss.php">
							<img alt="feed" src="page/feed.png">
						</a>
					 
				</h2>

				 
			</div>
		</div>

		<div class="page__outer page__outer--content">
			<div class="page__wrapper">
				 

				<div class="page__content">
					
		<h3>Today in Things Of Interest...</h3>
		<ul>
			
					<li>
						<a href="/fiction">Fiction</a>
						
					</li>
				
					<li>
						<a href="/src">Code</a>
						
					</li>
				
					<li>
						<a href="/time">Time</a>
						
					</li>
				
					<li>
						<a href="/blog">Blog</a>
						
					</li>
				
					<li>
						<a href="/special">Meta</a>
						
					</li>
				
		</ul>
	

<h3 id="sec0">Latest updates</h3>
<ul><li>2021-06-25: <a href="/hardcover">There are hardcover editions too!</a></li><li>2021-06-14: <a href="/hatetris">HATETRIS</a></li><li>2021-05-02: <a href="/fiction">Fiction</a></li><li>2021-04-29: <a href="/mmacevedo_fr">Lena</a></li><li>2021-04-18: <a href="/responsibility_cn">我不知道，蒂米，毕竟当上帝责任重大</a></li><li>2021-04-04: <a href="/paperback">Yes, there are paperback editions</a></li><li>2021-03-15: <a href="/mmacevedo_ru">Lena</a></li><li>2021-02-06: <a href="/alginon">Deus Ex Ultimate Run walkthrough</a></li><li>2021-01-04: <a href="/mmacevedo">Lena</a></li><li>2020-12-06: <a href="/plants">Turning vaguely reassuring finite-state machines into regular expressions</a></li></ul>

<h3 id="sec1">External links</h3>
<ul>
<li><a href="http://everything2.com/node/1223826?usersearch=sam512&amp;orderby=node.createtime%20DESC&amp;filterhidden=0">My writeups at Everything2</a></li>
<li>Twitter: <a href="https://twitter.com/qntm">@qntm</a></li>
<li><a href="http://www.reddit.com/r/qntm">/r/qntm</a></li>
</ul>				</div>

				 
			</div>
		</div>

		 

		<div class="page__outer page__outer--footer" dir="ltr">
			<div class="page__wrapper">
				<div class="page__footer">
					<div class="page__footer-entry">
						<a href="/contact">Contact</a>
					</div>
					<div class="page__footer-entry">
						<a href="/about">About</a>
					</div>

					<div class="page__footer-entry">
						<form class="page__button-form" method="get" action="https://www.google.com/search">
							Search: <input type="text" class="page__search-text" name="q" size="10" maxlength="255">
							<input type="hidden" name="sitesearch" value="qntm.org">
							<button type="submit" class="page__search-submit"></button>
						</form>
					</div>

					
					<div class="page__footer-entry">
						© qntm					</div>
				</div><!-- footer -->
			</div>

			<script><!--
				var sc_project=667681; 
				var sc_invisible=1; 
				var sc_partition=5; 
				var sc_security="f56850e2"; 
				var sc_remove_link=1; 
			// --></script>
			<script src="https://statcounter.com/counter/counter_xhtml.js"></script>

			<noscript>
				<img
					src="https://c6.statcounter.com/counter.php?sc_project=667681&amp;java=0&amp;security=f56850e2&amp;invisible=1"
					alt="website statistics"
				/>
			</noscript>
		</div>
	
</body></html>
